* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form {
    width: 300px;
    padding: 20px;
    border-radius: 3px;
    background-color: #d4a7a7;
    font-size: 12px;
  }
  form h1 {
    text-align: center;
  }
  form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    border: 0;
    border-radius: 3px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  .box {
    display: flex;
    flex-direction: column;
  }
  .box label {
    font-size: 20px;
  }
  .box input {
    display: block;
    padding: 10px;
    border-radius: 3px;
    width: 100%;
    font-size: 12px;
    border: 0;
  }
  .box .error {
    color: rgb(219, 26, 26);
    font-size: 10px;
    height: 15px;
  }
  .box input:focus {
    outline: 0;
  }
  .box.success input {
    border: 1px solid green;
  }
  .box.error input {
    border: 1px solid red;
  }
  .link {
    text-align: center;
    padding: 15px;
  }