*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body
{
    background-color: rgb(221, 249, 249);
}
.container
{
    width: 90%;
    margin: 0 auto;
    padding: 18px 20px ;
}
.sec
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.img
{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.img img
{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.img :hover img{
    transform: scale(1.2);
}
.content
{

}
.content h2
{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}
.content p
{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}
.content .read-more
{
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}
.content .read-more:hover
{
    background-color: #3e8e41;
}
.container{
    padding: 0;
}
.sec{
    padding: 20px;
    flex-direction: raw;
}
.img{
    margin-right: 0px;
    margin-bottom: 20px;
}
.content{
    padding: 0;
    font-size: 16px;
}
.content .read-more{
    font-size: 16;
}
.product-quantity{
    padding: 8px 5px;
    outline: none;
    width: 30%;
    border-radius: 5px;
    background: #efefef;
    border-color: #c1c1c1;
}
.btn-add{
    background: #ffa41c;
    width: 10%;
    padding: 10px 0p;
    margin-top: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.btn-product-buy{
    background: #ffa41c;
    width: 10%;
    padding: 10px 0p;
    margin-top: 10px;
    border-radius: 50px;
    cursor: pointer;

}
